
*, *:before, *:after {
  box-sizing: border-box;
}

/* whole site*/
h1,h2, h3, h4{
	font-family: 'Fira Sans', sans serif;
}


h1{
	font-size: 64px;
	font-weight: 600;
	text-align: center;
	margin:0;
}


h4{
	font-size: 18px;
	text-align: center;
	color: #2782F9;
	font-weight: 700;

}

#slogan{
	font-size: 35px;
	text-align: center;
	font-weight: 500;
}


p {
	font-family: "Open Sans";
	font-weight: 400;
	line-height: 1.5em;
	font-size: 20px;
}

a{ font-family: "Open Sans";
	font-weight: 400;
	font-size: 18px;

 }


.container{
	background-color: #fbfbfb;
}

/*-----------------navbar---------------*/
.topnav{
	text-align: center;
	width: 100%;
	background-color: #fbfbfb;
	float: left;
	padding-top:5px;
	padding-bottom: 5px;
	top:0;
	position: fixed;
	z-index: 1;
}


.topnav a{
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	color: #2E3138;
	font-weight: 500;

}

#logo{
	float: left;
}

#about, #contact, #home{
	float: right;
	font-family: 'Fira Sans', sans serif;
}

.menu-left{
	box-sizing: border-box;
	width:30%;
	float: left; 
	padding-left: 16%;
	padding-top: 5px;
}

.menu-right{
	box-sizing: border-box;
	float: right;
	width: 70%;
	text-decoration: none;
	text-align:center;
	padding-right: 16%;
	
}

/*--------about me page-----------*/



.golf-pic{
	object-fit: scale-down;	
	width: 100%;
}

.aboutme{
	width: 90%;
	margin: auto;
}


#contact-form {
	width: 400px;
	padding: 20px;
    display: block;
    float: right;
 
}

#contact-form h3{
	margin-bottom: 5px;
	font-size: 18px;
 
}
.contact-me{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding-left: 20px;
	
}

.contact-me h2{
	font-size: 36px;
}



button {
    display: block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 1px;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    margin: auto;
    color: #fff;
    background-color: #2782F9;
    width: 100%;
}

 input{
 	    width: 100%;
    background-color: #fbfbfb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #2e3138;;
    border: 1px solid #2E3138;
}



 textarea{
  	    width: 100%;
    background-color: #fbfbfb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #2e3138;
    border: 1px solid #2E3138;
}


/*-----------Homepage-----------------*/
.photo{
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 50%;
}


.photo-middle{
	box-sizing: border-box;
	float: left;
	position: relative;
	border: 1px solid white;
}


.photo{
	box-sizing: border-box;
	position: relative;
	width: 50%;
	border: 1px solid #ffffff;
}
.image {
 	opacity: 1;
  	display: block;
  	width:100%;
  	transition: .5s ease;
  	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	clear: both;
}

.photo:hover .image, .photo-middle:hover .image {
  opacity: 0.3;
}

.photo:hover .middle,.photo-middle:hover .middle  {
  opacity: 1;

}

.case-button{
  background-color: #2782F9;
  color: white;
  font-family: 'Fira Sans', sans serif;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 32px;
  border-radius: 4px;
}

.case-button a{
	text-decoration: none;
	color:#fbfbfb;
}

.title{
font-size: 30px;
padding-bottom:30px;
font-weight: 600px;
font-family: 'Fira Sans', sans serif;

}




/* ---------------case study page---------------*/

header{
	clear: both;
	padding-top: 40px;
}

.top, .branding, .prototype {
	padding-right:16%;
	padding-left:16%;
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: #fbfbfb;
	clear: both;
	overflow: auto;
}
.ux{
	background-color: #2782F9;
	padding-right: 16%;
	padding-left:16%;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #fbfbfb;
	clear: both;
	overflow: auto;
}

.ui{
	background-color: #2E3138;
	padding-right: 16%;
	padding-left:16%;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #fbfbfb;
	clear:both;
	overflow: auto;
}



#laptop{
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.overview{
	width: 90%;
	margin:auto;
	
}
.overview h2, .problem h2, .results h4{
text-align: center}

.problem{
	box-sizing: border-box;
	float: left;
	padding: 40px;
	width: 50%;
	text-align: left;
	background-color: #fbfbfb;
}
	

.survey h3 {
	color: #fbfbfb;
}

.results{
	box-sizing: border-box;
	float: left;
	padding: 20px;
	width: 50%;
	text-align: center;
}

.results-head{
	padding: 0px;
	margin-bottom: 0px;
	color:#fbfbfb;
	font-size: 19px;
	font-weight: 500;
}


.analysis {
	width: 80%;
	clear:both;
	padding-top: 40px;
}

.survey{
	width: 80%;
	clear: both;

}

.results-head{
	font-size: 19px;
	font-weight: 500;

}


.information, .results-chart{
	padding-top: 40px;
}


.information p, .ui p{
	width: 50%;
	overflow: hidden;
}



.branding-text {
	width: 50%;
	float:right;
	clear:both;
}


.branding-text h3{
	color:#2782F9;
}

.information img{
	float: right;
	margin-top: 20px;
	padding-bottom: 20px;

}

.brand-photo{
	float: left;
	width: 50%;
	clear: left;
	padding-top:100px;
}

.ui img{
	float: right;
	margin-left: auto;
	margin-right: auto
	padding-bottom: 40px;
	clear: both;
}

.prototype h2 {
	text-align: center;
}

.prototype img{
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}






.view-proto{
	margin: auto;
	width: 150px;
	height: 40px;
	border: 2px #2782F9 solid;
	text-align: center;
	padding-top: 5px;
	border-radius: 4px;
}
.view-proto a{
	text-decoration: none;
	font-size: 18px; 
	color:#2782F9;
	font-weight: 500;

}


.view-proto-top{
	width: 150px;
	height: 40px;
	border: 2px #2782F9 solid;
	text-align: center;
	padding-top: 5px;
	border-radius: 4px;
}
.view-proto-top a{
	text-decoration: none;
	font-size: 18px; 
	color:#2782F9;
	font-weight: 500;

}

.view-survey{
	width: 150px;
	height: 40px;
	border: 2px #fbfbfb solid;
	text-align: center;
	padding-top: 5px;
	border-radius: 4px;
}
.view-survey a{
	text-decoration: none;
	font-size: 18px; 
	color: #fbfbfb;
	font-weight: 500;
}

.get-in-touch{
	width: 50%;
	margin: auto;
}

.get-in-touch h3 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 0px;
}

.get-in-touch a{
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	color: #2782F9;
	margin: auto;
	font-family: 'Fira Sans', sans serif;
	font-weight: 700;
}


.call-to-action{
	padding-left: 16%;
	padding-right: 16%;
	
}


/*------------footer-----------*/
footer{

	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	background-color: #fbfbfb;
	clear: both;
	padding-bottom: 20px;

}
footer a {
	font-size: 28px;
	display: inline-block;
	color: rgba(46, 49, 56, 1);
	padding: 20px;
	text-decoration: none;


}

/*---------------aboutme media queries---------------------*/
@media (max-width: 800px){

	.golf-pic{
	object-fit: scale-down;
	height: auto;	
	width: 100%;
	margin: auto;
	}
	.aboutme{
		width: 100%;
		margin:auto;
	}

	.contact-me{
		width: 100%;
		margin: auto;
	}

	.contact-me h2{
		font-size: 30px;
	}

	#contact-form{
		width: 100%;
		object-fit: scale-down;
		float: left;
		margin: auto;
	}

	p { 
		font-size: 18px;
	 }

	button, textarea, input{
		width: 100%;
		justify-content: center;
		overflow: auto;
	}
}
/*---------------home page media queries---------------------*/

@media (max-width: 800px) {

	.menu-right{
  		padding-right: 8%;
  	}

  	.menu-left{
  		padding-left: 8%;
  	}

	.photo, .image, .middle {
  		display: block;
    	width: 100%;
  	}

  	.photo:hover .middle,.photo-middle:hover .middle, .photo:hover .image, .photo-middle:hover .image {
   		display: none;
   		display: block;
   		transition: none;
  	}

	.middle{
		transition: none;
		opacity: 1;
		position: relative;
		top: 50%;
		left: 50%;
		text-align: center;
		clear: both;
	}

	.case-button{
		position: relative;
		width: 80%;
		margin: auto;
	}

	.title{ 
		position: relative;
		padding-bottom: 20px;
		font-size: 24px;
		margin-top:80px; }
	}

@media  (max-width: 800px) {
	h1{
		font-size: 30px;
	}
	#slogan{
		font-size: 20px;
	}
	h4{
		margin-top: 5px;
		font-size:16px;
		padding-bottom: 5px;
  	}
  
}




/*---------------Case Study media queries---------------------*/

@media (max-width: 800px){

	 .branding img {
		object-fit: scale-down;
   		width:100%;
   		height: 50%;
   		padding-bottom: 40px;
   		margin: auto;
	}

	.branding-text{
		width: 100%;
	}

	.prototype img, .ui img, #laptop {
		object-fit: scale-down;
   		width:100%;
   		height: 50%;
   		margin:auto;
	}

	.information img{
		object-fit: scale-down;
		margin: auto;
		width:100%;
   		height: 50%;
   		padding-bottom: 20px;
		clear: both;
	}	

	.information p,  .ui p, .branding-text {
		object-fit: scale-down;	
   		width:100%;
   		
  	}
  	.brand-photo {
  		object-fit: scale-down;
  		padding-top: 20px;	
   		width:100%;
  	}

	.results, .results-head,.analysis, .survey, .information{
   		width:100%;
  	}

	.overview{
   		width:100%;
   		padding-bottom: 20px;
  	}

  	.ui, .ux, .top, .branding, .protoype, .call-to-action {
    	width: 100%;
    	clear: both;
  	}
  	.problem{
  		padding: 0px;
  		float: none;
  		width: 100%;
  	}
  	.get-in-touch h3, .get-in-touch a{
  		font-size: 24px;
  		width: 100%;
  	}
}

